body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

.logo {
    font-family: 'Raleway', sans-serif;
}

.logo.web {
    color: #4D5AE5;
    text-decoration: none;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 24px;
}

.logo.studio {
    color: #2E2F42;
    text-decoration: none;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 24px;
}

.links {
    color: #2E2F42;
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}

.links:active {
    color: #404BBF;
}

.contact:active {
    color: #404BBF;
}

.contact {
    color: #434455;
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.first-section-title {
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 60px;
    color: #FFFFFF;
    ;
}

.button-studio {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    background: #4D5AE5;
}

.button-studio:hover {
    background: #404BBF;
}

.backgrond-section-one {
    background: #2E2F42;
}

.list-one {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #2E2F42;
}

.list-description {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #434455;
}
.footer-description {
    color: #E7E9FC;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.ourteam {
    background: #F4F4FD;
}

.logo.studio.white {
    color: #F4F4FD;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
}

.button-portfolio {
    background: #F4F4FD;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #4D5AE5;
}

.button-portfolio:hover {
    background: #404BBF;
    color: #FFFFFF;
}

.product-title {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #2E2F42;
}

.product-description {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #434455;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

h1, h2, h3, h4, p {
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}